<!DOCTYPE html>
<html lang="ru">
{% include "head.html" %}
<body class="min-vh-100 d-flex flex-column">
    <header>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
              {% elif category == 'success' %}
                <div class="alert alert-info">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
    </header>
    <main class="flex-grow-1">
        <div class="col-12 col-md-10 col-lg-8 bg-light mx-auto mt-3 p-5 border rounded-3">
          <h1 class="display-3">Анализатор страниц</h1>
           <form action="{{ url_for('add_url') }}" method="post" class="d-flex justify-content-center">
            <input class="form-control form-control-lg" type="text" name="url" placeholder="https://www.google.com" value="{{ user_input|default('', true)}}">
            <input class="btn btn-primary btn-lg ms-3 px-5 mx-3" type="submit" value="Добавить">
          </form>
        </div>
    </main>
</body>
</html>
